body{
    background-color: #FEF5DA;
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: #30182A;
    font-size: 3.4em;
}

article{
    margin-top: 60px;
}

header{
    margin-top: 20px;
}

.text-description{
    font-size: 1em;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 60px;
    margin: 0 40px;
}

nav ul{
    padding: 0;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 0px 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1em;
}

section img{
    width: 70%;
}

.main-button{
    padding: 12px 35px;
    color: #30182A;
    font-weight: 800;
    font-size: 0.7em;
    border-radius: 7px;
    width: 140px;
}

#button-hire{
 background-color: #FF6B72;
 border: 1px solid #FF6B72;
}

#button-works{
    background-color: transparent;
    border: 1px solid #30182A;
    margin-left: 10px;
}